@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", serif;
}
html {
  font-size: 62.5%;
}

/* REUSABLE CSS */

.reusable-btn {
  padding: 1.2rem 4rem;
  border-radius: 50px;
  background: linear-gradient(90deg, #1ad7be, #1f67e7);
  border: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.reusable-btn:hover {
  background: linear-gradient(90deg, #1f67e7, #1ad7be);
}

.back-white--btn {
  background: none;
  color: black;
  border: 1px solid #3e4757;
}

.back-white--btn:hover {
  background: none;
}

/* SECTION NAV */
/*********************************/
.back-img {
  background: url(back-img.jpeg) no-repeat;
}
.nav {
  background-color: #fff;
  border-radius: 500px;
  padding: 1.4rem 4rem;
  background-color: #ffffff99;
  border: 2px solid white;
}

.section-nav {
  padding: 4rem 22rem;
}

.company-logo {
  max-width: 70%;
}

.nav-mid ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.nav-mid li {
  list-style: none;
}
.nav-mid li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}
.nav-mid li a:hover {
  background-image: linear-gradient(90deg, #1ad7be, #1f67e7);
  -webkit-background-clip: text;
  color: transparent;
}

.contact-us {
  padding: 1.2rem 4rem;
  border-radius: 50px;
  background: linear-gradient(90deg, #1ad7be, #1f67e7);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.contact-us a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.contact-us:hover {
  background: linear-gradient(90deg, #1f67e7, #1ad7be);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*********************************/
/* SECTION HERO */
/*********************************/
.section-hero {
  padding: 14rem 40rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.highlate-text {
  background-image: linear-gradient(90deg, #1ad7be, #1f67e7);
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 2rem;
}

.hero-h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
}

.hero-para {
  padding: 0 30rem;
}

.hero-desc {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  color: #3e4757;
  text-align: center;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.demo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.demo-icon {
  height: 2rem;
  width: 2rem;
}

.hero-icon {
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 1.4rem;
}
/*********************************/
